	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Formas de pago flexibles</h2>
						<p>Con 3M Cash, pagá tus libros favoritos en cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Compra con confianza!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis en compras superiores a $20.499</h2>
						<p>Regístrate en 3M y disfrutá de envíos gratuitos en una amplia selección de libros. Exclusivo para miembros.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Compra con total seguridad</h2>
						<p>¿No es lo que esperabas? ¡Devolvelo! En 3M, te garantizamos una experiencia de compra segura y protegida en cada libro que elijas.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->