<!-- Agrego el head que está en partials, así cuando modificamos info lo hacemos solo 1 vez-->
<%- include('./partials/head')  %>

<body>
    <!-- Header -->
    <%- include('./partials/header') %>

	<!-- Main -->
	<div class="col-12">
		<h2 class="registration-title">Ingresar</h2>
	</div>
	
	<div class="container registration-container">
		<form class="form registration-form" action="/users/login" method="GET">
			<!-- Contenido del formulario -->
			<div class="form-group">
				<label for="usuario">Correo electrónico:</label>
				<input type="email" id="usuario" name="usuario" placeholder="(tu mail)" required>
			</div>
		
			<div class="form-group">
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" placeholder="" required>
			</div>
		
			<div class="form-group form-group--inline">
				<label for="recordarme" class="recordarme-label">Recordarme</label>
				<input type="checkbox" id="recordarme" name="recordarme" class="recordarme-checkbox">
			</div>
		
			<button type="submit" class="submit-button">Ingresar</button>
		</form>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
    
</body>

</html>