<!-- Agrego el head que está en partials, así cuando modificamos info lo hacemos solo 1 vez-->
<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerlogueado') %>
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

			<div class="container registration-container">
				<form class="form registration-form" action="/productAdd" method="GET">
					<div class="form-group">
						<label for="productoImagen">Imagen del producto:</label>
						<input type="file" id="productoImagen" name="productoImagen" required accept="image/*">
					</div>
			
					<div class="form-group">
						<label for="nombreProducto">Nombre del producto:</label>
						<input type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre del producto" required>
					</div>
				
					<div class="form-group">
						<label for="descripcion">Descripción:</label>
						<input type="text" id="descripcion" name="descripcion" placeholder="Descripción del producto" required></input>
					</div>
			
					<button type="submit" class="submit-button">Agregar Producto</button>
				</form>
			</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
    
</body>

</html>