<!-- Agrego el head que está en partials, así cuando modificamos info lo hacemos solo 1 vez-->
<%- include('./partials/head')  %>

<body>
	<!-- Header -->
	<%- include('./partials/headerlogueado')  %>
	
	<!-- Novedades -->
	<div class="col-12">
		<h2 class="registration-title">Registrate</h2>
	</div>

	<div class="container registration-container">
		<form class="form registration-form" action="/users/register" method="GET">
			<!-- Contenido del formulario -->
			<div class="form-group">
				<label for="usuario">Usuario:</label>
				<input type="text" id="usuario" name="usuario" placeholder="(tu nombre de usuario)" required>
			</div>

			<div class="form-group">
				<label for="email">Correo electrónico:</label>
				<input type="email" id="email" name="email" placeholder="(tu mail)" required>
			</div>

			<div class="form-group">
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" placeholder="" required>
			</div>

			<div class="form-group">
				<label for="fechaNacimiento">Fecha de nacimiento:</label>
				<input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
			</div>

			<div class="form-group">
				<label for="nroDocumento">Número de documento:</label>
				<input type="number" id="nroDocumento" name="nroDocumento" required>
			</div>

			<div class="form-group">
				<label for="fotoPerfil">Foto de Perfil:</label>
				<input type="text" id="fotoPerfil" name="fotoPerfil" placeholder="url" required>
			</div>

			<button type="submit" class="submit-button">Registrarse</button>
		</form>
	</div>

			
			
	<!-- footer -->
	<%- include('./partials/footer') %>
    
</body>

</html>